{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<div class="shadow p-5 m-3 bg-white rounded w-50 ">
	<h4 class="m-3">{% if movement %} Edit {% else %} Add {% endif %}</h4>
	<hr>
	<form {% if movement %} action="/product-movement/edit/{{movement.movement_id}}" {% else %} action="/product-movement/add" {% endif %} method="POST">
		<div class="form-group">
				<label for="from_location">From:</label>
				<div class="dropdown">
					<select class="btn btn-secondary dropdown-toggle" id="from_location" name="from_location">
						<option value="null">Select</option>
						{% for location in locations %}
						<option class="dropdown-item" value="{{location.location_id}}" {% if (movement) and (movement.from_location == location.location_id )%} selected="selected" {% endif %}>
							{{location.location_name}}
						</option>
						{% endfor %}
					</select>
				</div>
			</div>
	
			<div class="form-group ">
				<label for="to_location">To:</label>
				<div class="dropdown">
					<select class="btn btn-secondary dropdown-toggle" name="to_location" id="to_location">
						<option value="null">Select</option>
						{% for location in locations %}
						<option class="dropdown-item" value="{{location.location_id}}" {% if (movement) and (movement.to_location == location.location_id) %} selected="selected" {% endif %}>
							{{location.location_name}}
						</option>
						{% endfor %}
					</select>
				</div>
			</div>
	
			<div class="form-group">
				<label for="product_id">Product:</label>
				<div class="dropdown">
					<select required class="btn btn-secondary dropdown-toggle" name="product_id" id="product_id" >
						<option value="null">Select</option>
						{% for product in products %}
						<option class="dropdown-item" value="{{product.product_id}}" {% if (movement) and (movement.product_id == product.product_id) %} selected="selected" {% endif %}>
							{{product.product_name}}
						</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group w-50">
				<label for="qty">Quantity:</label>
				<input class="form-control" type="text" name="qty" id="qty" placeholder="Enter Quantity" aria-label="Enter Quantity" {% if movement %} value="{{movement.qty}}" {% endif %} required />
			</div>
	
	
		<input class="btn btn-primary" type="submit" value="Submit" />
	</form>
</div>

{% endblock %}
