{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
{% if report %}
<h3 class="m-3 text-center">Inventory Report</h3>
<table class="table mt-4">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Warehouse</th>
			<th scope="col">Product</th>
			<th scope="col">Quantity</th>
		</tr>
	</thead>
	<tbody>
	 {% for location in report %} {% for product in report[location] %}
		<tr scope="row">
			<td>
				{{location}}
			</td>
			
			<td>
				{{product}}
			</td>
			<td>
				{{report[location][product]}}
			</td>
			
		</tr>
		{% endfor %} {% endfor %}
	</tbody>
</table>
{% else %}
<h4 class="mt-5 text-center">There are no products in your warehouse yet. Move products to you warehouses to check balance report. </h4>
{% endif %}
{% endblock %}
